In [2]:
import pandas as pd
import numpy as np
from pymorphy2 import MorphAnalyzer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

C:\Users\nastya-pls\AppData\Local\Temp\ipykernel_7912\2139653543.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
df2 = pd.read_excel('model.xlsx')
df2[df2['Кластер'] == 49]

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера
374,2085,работа в тренажерном зале,работа тренажерном зале,работа тренажерный зал,49,тренажерный зал тренер
375,1938,персональный тренер в тренажерном зале работа,персональный тренер тренажерном зале работа,персональный тренер тренажерный зал работа,49,тренажерный зал тренер
376,982,инструктор тренажерного зала вакансии без опыта,инструктор тренажерного зала вакансии опыта,инструктор тренажерный зал вакансия опыт,49,тренажерный зал тренер
377,1418,вакансии тренер тренажерного зала без опыта,вакансии тренер тренажерного зала опыта,вакансия тренер тренажерный зал опыт,49,тренажерный зал тренер
378,2660,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерный зал вакансия,49,тренажерный зал тренер
379,1512,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерный зал,49,тренажерный зал тренер
380,2460,работа тренером тренажерного зала,работа тренером тренажерного зала,работа тренер тренажерный зал,49,тренажерный зал тренер
381,2675,тренер тренажерного зала без опыта работы,тренер тренажерного зала опыта работы,тренер тренажерный зал опыт работа,49,тренажерный зал тренер
382,2182,работа инструктором тренажерного зала,работа инструктором тренажерного зала,работа инструктор тренажерный зал,49,тренажерный зал тренер

## Определение по должности

In [14]:
prof = pd.read_excel('prof.xlsx',index_col = 'Unnamed: 0')
unique_values = prof[0].str.lower().unique()
unique_values = unique_values.tolist()
unique_values.append('строитель')
prof = unique_values

In [16]:
def find_prof(splitted_lemmas):

    for x in prof:

        if x in splitted_lemmas:

            return x
        
df2['по должности-лемме2'] = df2['Леммы'].str.split()
df2['по должности-лемме2'] = df2['по должности-лемме2'].apply(find_prof)
df2['по должности-лемме2'] = df2['по должности-лемме2'].fillna(value= np.nan, inplace=False)
df2[df2['Кластер'] == 49]

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера,по должности-лемме2
374,2085,работа в тренажерном зале,работа тренажерном зале,работа тренажерный зал,49,тренажерный зал тренер,NaN
375,1938,персональный тренер в тренажерном зале работа,персональный тренер тренажерном зале работа,персональный тренер тренажерный зал работа,49,тренажерный зал тренер,тренер
376,982,инструктор тренажерного зала вакансии без опыта,инструктор тренажерного зала вакансии опыта,инструктор тренажерный зал вакансия опыт,49,тренажерный зал тренер,инструктор
377,1418,вакансии тренер тренажерного зала без опыта,вакансии тренер тренажерного зала опыта,вакансия тренер тренажерный зал опыт,49,тренажерный зал тренер,тренер
378,2660,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерный зал вакансия,49,тренажерный зал тренер,инструктор
379,1512,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерный зал,49,тренажерный зал тренер,тренер
380,2460,работа тренером тренажерного зала,работа тренером тренажерного зала,работа тренер тренажерный зал,49,тренажерный зал тренер,тренер
381,2675,тренер тренажерного зала без опыта работы,тренер тренажерного зала опыта работы,тренер тренажерный зал опыт работа,49,тренажерный зал тренер,тренер
382,2182,работа инструктором тренажерного зала,работа инструктором тренажерного зала,работа инструктор тренажерный зал,49,тренажерный зал тренер,инструктор

In [18]:
df2[df2['Кластер'] == 49]

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера,по должности-лемме2
374,2085,работа в тренажерном зале,работа тренажерном зале,работа тренажерный зал,49,тренажерный зал тренер,NaN
375,1938,персональный тренер в тренажерном зале работа,персональный тренер тренажерном зале работа,персональный тренер тренажерный зал работа,49,тренажерный зал тренер,тренер
376,982,инструктор тренажерного зала вакансии без опыта,инструктор тренажерного зала вакансии опыта,инструктор тренажерный зал вакансия опыт,49,тренажерный зал тренер,инструктор
377,1418,вакансии тренер тренажерного зала без опыта,вакансии тренер тренажерного зала опыта,вакансия тренер тренажерный зал опыт,49,тренажерный зал тренер,тренер
378,2660,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерный зал вакансия,49,тренажерный зал тренер,инструктор
379,1512,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерный зал,49,тренажерный зал тренер,тренер
380,2460,работа тренером тренажерного зала,работа тренером тренажерного зала,работа тренер тренажерный зал,49,тренажерный зал тренер,тренер
381,2675,тренер тренажерного зала без опыта работы,тренер тренажерного зала опыта работы,тренер тренажерный зал опыт работа,49,тренажерный зал тренер,тренер
382,2182,работа инструктором тренажерного зала,работа инструктором тренажерного зала,работа инструктор тренажерный зал,49,тренажерный зал тренер,инструктор

## Определение по доп. признаку

In [19]:
dop = pd.read_excel('dop_values.xlsx')
keys = dop['синоним'] 
values = dop['фраза']
sm = dict(zip(keys, values))
sm

{'мужчина': 'для мужчин',
 'опыт': 'без опыта',
 'женщина': 'для женщин',
 'студент': 'для студентов',
 'инвалид': 'для инвалидов',
 'пенсионер': 'для пенсионеров',
 'школьник': 'для школьников'}

In [20]:
def find_dop(splitted_lemmas):
    return ', '.join([sm[x] for x in splitted_lemmas if x in sm])

df2['по дополнительному признаку2'] = df2['Леммы'].str.split()
df2['по дополнительному признаку2'] = df2['по дополнительному признаку2'].apply(find_dop)
df2['по дополнительному признаку2'] = df2['по дополнительному признаку2'].replace('', np.nan)

In [23]:
df2[df2['Кластер'] == 49]

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера,по должности-лемме2,по дополнительному признаку2
374,2085,работа в тренажерном зале,работа тренажерном зале,работа тренажерный зал,49,тренажерный зал тренер,NaN,NaN
375,1938,персональный тренер в тренажерном зале работа,персональный тренер тренажерном зале работа,персональный тренер тренажерный зал работа,49,тренажерный зал тренер,тренер,NaN
376,982,инструктор тренажерного зала вакансии без опыта,инструктор тренажерного зала вакансии опыта,инструктор тренажерный зал вакансия опыт,49,тренажерный зал тренер,инструктор,без опыта
377,1418,вакансии тренер тренажерного зала без опыта,вакансии тренер тренажерного зала опыта,вакансия тренер тренажерный зал опыт,49,тренажерный зал тренер,тренер,без опыта
378,2660,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерного зала вакансии,тренер инструктор тренажерный зал вакансия,49,тренажерный зал тренер,инструктор,NaN
379,1512,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерного зала,вакансия персональный тренер тренажерный зал,49,тренажерный зал тренер,тренер,NaN
380,2460,работа тренером тренажерного зала,работа тренером тренажерного зала,работа тренер тренажерный зал,49,тренажерный зал тренер,тренер,NaN
381,2675,тренер тренажерного зала без опыта работы,тренер тренажерного зала опыта работы,тренер тренажерный зал опыт работа,49,тренажерный зал тренер,тренер,без опыта
382,2182,работа инструктором тренажерного зала,работа инструктором тренажерного зала,работа инструктор тренажерный зал,49,тренажерный зал тренер,инструктор,NaN

## Определение по условиям

In [24]:
condition = {
    'проживание': 'с проживанием',
    'ежедневный': 'с ежедневной оплатой',
}
print(condition)

{'проживание': 'с проживанием', 'ежедневный': 'с ежедневной оплатой'}

In [25]:
def find_condition(splitted_lemmas):
    return ', '.join([condition[x] for x in splitted_lemmas if x in condition])

df2['по условию2'] = df2['Леммы'].str.split()
df2['по условию2'] = df2['по условию2'].apply(find_condition)
df2['по условию2'] = df2['по условию2'].replace('', np.nan)

In [30]:
df2[df2['Кластер'] == 50]

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера,по должности-лемме2,по дополнительному признаку2,по условию2
383,64,вакансии курьер на авто ежедневные выплаты,вакансии курьер авто ежедневные выплаты,вакансия курьер авто ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
384,570,курьер без оформления с ежедневными выплатами,курьер оформления ежедневными выплатами,курьер оформление ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
385,572,курьер ежедневные выплаты,курьер ежедневные выплаты,курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
386,60,работа курьер на авто ежедневные выплаты,работа курьер авто ежедневные выплаты,работа курьер авто ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
387,1305,вакансии грузчика с ежедневными выплатами,вакансии грузчика ежедневными выплатами,вакансия грузчик ежедневный выплата,50,ежедневный выплата курьер,грузчик,NaN,с ежедневной оплатой
388,465,пеший курьер ежедневные выплаты,пеший курьер ежедневные выплаты,пеший курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
389,308,курьеры подработка ежедневные выплаты,курьеры подработка ежедневные выплаты,курьер подработка ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
390,292,вакансия курьер ежедневные выплаты,вакансия курьер ежедневные выплаты,вакансия курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
391,2881,вакансии разнорабочим с ежедневными выплатами,вакансии разнорабочим ежедневными выплатами,вакансия разнорабочий ежедневный выплата,50,ежедневный выплата курьер,NaN,NaN,с ежедневной оплатой
392,2793,автомойщик вакансии ежедневные выплаты,автомойщик вакансии ежедневные выплаты,автомойщик вакансия ежедневный выплата,50,ежедневный выплата курьер,NaN,NaN,с ежедневной оплатой
393,592,подработка девушек ежедневными выплатами,подработка девушек ежедневными выплатами,подработка девушка ежедневный выплата,50,ежедневный выплата курьер,NaN,NaN,с ежедневной оплатой
394,1102,работа курьером ежедневные выплаты,работа курьером ежедневные выплаты,работа курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой
395,786,подработка курьер ежедневной,подработка курьер ежедневной,подработка курьер ежедневный,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой

## Определение по занятости

In [31]:
busyness = pd.read_excel('busyness.xlsx')
busyness

        фраза           синоним
0  подработка        подработка
1       вахта             вахта
2   удаленный         удаленная
3         дом           на дому
4   посменный         посменная
5   временный         временная
6    выходной       по выходным
7    вечерний          вечерняя
8      ночной            ночная
9    неполный  на неполный день

In [32]:
busyness = dict(zip(busyness['фраза'],busyness['синоним']))
busyness

{'подработка': 'подработка',
 'вахта': 'вахта',
 'удаленный': 'удаленная',
 'дом': 'на дому',
 'посменный': 'посменная',
 'временный': 'временная',
 'выходной': 'по выходным',
 'вечерний': 'вечерняя',
 'ночной': 'ночная',
 'неполный': 'на неполный день'}

In [33]:
def find_busyness(splitted_lemmas):
    return ', '.join([busyness[x] for x in splitted_lemmas if x in busyness])

df2['занятость2'] = df2['Леммы'].str.split()
df2['занятость2'] = df2['занятость2'].apply(find_busyness)
df2['занятость2'] = df2['занятость2'].replace('', np.nan)

In [34]:
df2[df2['Кластер'] == 50]

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера,по должности-лемме2,по дополнительному признаку2,по условию2,занятость2
383,64,вакансии курьер на авто ежедневные выплаты,вакансии курьер авто ежедневные выплаты,вакансия курьер авто ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
384,570,курьер без оформления с ежедневными выплатами,курьер оформления ежедневными выплатами,курьер оформление ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
385,572,курьер ежедневные выплаты,курьер ежедневные выплаты,курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
386,60,работа курьер на авто ежедневные выплаты,работа курьер авто ежедневные выплаты,работа курьер авто ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
387,1305,вакансии грузчика с ежедневными выплатами,вакансии грузчика ежедневными выплатами,вакансия грузчик ежедневный выплата,50,ежедневный выплата курьер,грузчик,NaN,с ежедневной оплатой,NaN
388,465,пеший курьер ежедневные выплаты,пеший курьер ежедневные выплаты,пеший курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
389,308,курьеры подработка ежедневные выплаты,курьеры подработка ежедневные выплаты,курьер подработка ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,подработка
390,292,вакансия курьер ежедневные выплаты,вакансия курьер ежедневные выплаты,вакансия курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
391,2881,вакансии разнорабочим с ежедневными выплатами,вакансии разнорабочим ежедневными выплатами,вакансия разнорабочий ежедневный выплата,50,ежедневный выплата курьер,NaN,NaN,с ежедневной оплатой,NaN
392,2793,автомойщик вакансии ежедневные выплаты,автомойщик вакансии ежедневные выплаты,автомойщик вакансия ежедневный выплата,50,ежедневный выплата курьер,NaN,NaN,с ежедневной оплатой,NaN
393,592,подработка девушек ежедневными выплатами,подработка девушек ежедневными выплатами,подработка девушка ежедневный выплата,50,ежедневный выплата курьер,NaN,NaN,с ежедневной оплатой,подработка
394,1102,работа курьером ежедневные выплаты,работа курьером ежедневные выплаты,работа курьер ежедневный выплата,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,NaN
395,786,подработка курьер ежедневной,подработка курьер ежедневной,подработка курьер ежедневный,50,ежедневный выплата курьер,курьер,NaN,с ежедневной оплатой,подработка

## Определение по общему признаку

In [35]:
# Проверяем, есть ли пустые значения в указанных столбцах
mask = ((df2['по должности-лемме2'].isna())  & \
       (df2['по дополнительному признаку2'].isna()) & \
       (df2['по условию2'].isna()) & \
       (df2['занятость2'].isna()))
df2['общие фразы2'] = np.where(mask,'общие фразы',np.nan)

In [36]:
df2

,id,query,Фраза_по_словам,Леммы,Кластер,Название_кластера,по должности-лемме2,по дополнительному признаку2,по условию2,занятость2,общие фразы2
0,1901,озон пвз вакансии,озон пвз вакансии,озон пвз вакансия,0,озон пвз вакансия,NaN,NaN,NaN,NaN,общие фразы
1,1054,работа в пвз озон,работа пвз озон,работа пвз озон,0,озон пвз вакансия,NaN,NaN,NaN,NaN,общие фразы
2,39,работа водителем категории б межгород,работа водителем категории межгород,работа водитель категория межгород,1,водитель категория межгород,водитель,NaN,NaN,NaN,nan
3,34,водитель категории б на межгород,водитель категории межгород,водитель категория межгород,1,водитель категория межгород,водитель,NaN,NaN,NaN,nan
4,447,водитель категории с межгород вакансии,водитель категории межгород вакансии,водитель категория межгород вакансия,1,водитель категория межгород,водитель,NaN,NaN,NaN,nan
...,...,...,...,...,...,...,...,...,...,...,...
2995,2066,работа в озон офис,работа озон офис,работа озон офис,598,работа офис озон,NaN,NaN,NaN,NaN,общие фразы
2996,2385,работа разнорабочим в офисах,работа разнорабочим офисах,работа разнорабочий офис,598,работа офис озон,NaN,NaN,NaN,NaN,общие фразы
2997,1716,ищу работу тату мастером,ищу работу тату мастером,искать работа тату мастер,599,тату мастер вакансия,NaN,NaN,NaN,NaN,общие фразы
2998,2706,ученик тату мастера вакансии,ученик тату мастера вакансии,ученик тату мастер вакансия,599,тату мастер вакансия,NaN,NaN,NaN,NaN,общие фразы
2999,1793,мастер в тату салон вакансии,мастер тату салон вакансии,мастер тату салон вакансия,599,тату мастер вакансия,NaN,NaN,NaN,NaN,общие фразы